html {
  background: rgb(83, 109, 131);
}


body {
  background-color: rgb(144, 174, 207);
  font-family: Arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #203558;
  font-family: Arial; 
  border-radius: 8px;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px 16px;
}

 header {
  padding: 20px 0;
  text-align: center;
  line-height: 2em;
  color: rgb(255, 255, 255);
}

section {
  font-family: Arial;
  color: rgb(255, 255, 255);
  text-align: center;
}

.row {
  display: flex;           
}

.column {
  flex: 50%;               
  height: 300px;
  padding: 20px;
}

/*this is for the form*/
form {
  background-color: aliceblue;
  padding: 10px;
  max-width: 900px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
}

input[type=reset] {
  width: 100%;
  background-color: #af4c4c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
}

/*for the gallery on past projects*/

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  background-color: aliceblue;
  width: 180px;
  
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.accordion-body {
  color: whitesmoke;
  background-color: blue;
  padding: 10px;
}

.card-title {
  color: rgb(76, 127, 172);
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #000000;
}

 footer {
  clear: both;
  color: rgb(255, 255, 255);
  text-align: center;
}
